body {
    background: rgba(10, 10, 10);
    display: flex;
    flex-direction: column;
    color: white;
    padding-right: 0.5em;
    padding-left: 0.5em;
    max-width: 60.0em;
    width: 900px;
    margin: auto;
}

a {
    color: rgba(51, 135, 120);
}

#global-navigation a {
    font-size: 1.4em;
}

#articles a {
    font-size: 1.4em;
}

body header {
    order: 1;
}

body main {
    order: 2;
}

body footer {
    order: 3;
}

body main p {
    font-size: 1.4em;
}

body main h1, h2, h3, h4, h5, h6 {
    color: rgba(192, 192, 192);
}

#global-navigation {
    background: rgba(192, 192, 192);
    display: flex;
    flex-direction: left;
}

#global-navigation .internal-links {
    margin-right: auto;
    display: flex;
    gap: 30px;
    margin-left: 0.5em;
    align-self: center;
}

#global-navigation .external-links {
    margin-left: auto;
    display: flex;
    gap: 8px;
}

#global-navigation a {
    text-decoration: none;
    color: rgba(128,0,32);
    font-weight: bold;
}

.icon {
    width: 30px;
    height: 30px;
}

code.language-go {
    font-size: 12pt;
}

#featured-articles h3 {
    font-size: 1.4em;
}

#featured-articles p {
    font-size: 1.2em;
}

#featured-articles a {
    display: block;
    text-align: center;
    font-size: 1.4em;
}

hr {
    margin-top: 3em;
    border: 3px dotted orange;
    margin-bottom: 3em;
}
