{{ define "/header" }}
<header>
    <nav id="global-navigation">
        <section class="internal-links">
            <a href="/index.html" class="nav-link">Home</a>
            <a href="/articles.html" class="nav-link">Articles</a>
            <a href="/projects.html" class="nav-link">Projects</a>
            <a href="/about.html" class="nav-link">About</a>
        </section>
        <section class="external-links">
            <a href="https://github.com/moretiles"><img src="/assets/icon/github-mark.svg" alt="Github logo" class="icon"></a>
            <a href="https://github.com/moretiles"><img src="/assets/icon/LI-In-Bug.png" alt="Linkedin logo" class="icon"></a>
        </section>
    </nav>
</header>
{{ end }}
