<!doctype html>
<html lang="en">
    <head>
        {{ template "head" nil }}
    </head>
    <body>
        {{ template "header" nil }}
        <main>
            {{ template "body" nil }}
        </main>
        {{ template "footer" nil }}
    </body>
</html>
