<!doctype html>
<html lang="en">
    <head>
        {{ include "head" nil 8 }}
        <title>_</title>
    </head>
    <body id="_">
        <main>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
