<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body id="about-page">
        <main>
            <h1>About Me</h1>
            <p>My name is David Vergano and I am a college student studying Cybersecurity Engineering. Current interests are the C programming language, managing traditional Linux servers, and deploying containers. Outside of self-study I do normal people things.</p>
            <p>I can be reached from the email I use in all of my git commits. Email is the best way to contact me.</p>
            <p>My current plans are to apply my knowledge of containers to learn Kubernetes and deploy applications to a local commodity level machine running several K3S nodes.</p>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
