<!doctype html>
<html lang="en">
    <head>
        {{ include "head" nil 8 }}
        <title>Articles</title>
    </head>
    <body id="articles">
        <main>
            <h1>Articles</h1>
            <ul>
            {{ range $k, $v := . }}
            <p><a href="{{ $v.link }}">{{ $v.title }}</a></p>
            {{ end }}
            </ul>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
