<!doctype html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>About</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
    <body id="about-page">
        <main>
            <h1>{{ .title }}</h1>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
