<!doctype html>
<html lang="en">
    <head>
        {{ include "head" nil 8 }}
        <title>Home</title>
    </head>
    <body id="home-page">
        <main>
            <section id="intro">
                <p>I'm David, a Cybersecurity Engineering student.</p>
                <p>This site lists short articles I've written and some of my projects.</p>
                <p>If you have any questions feel free to reach out using the email attached to my git commits.</p>
            </section>

            <hr>

            <section id="featured-articles">
                {{ range $k, $v := . }}
                <article>
                    <h3>{{ $v.title }}</h3>
                    <p>{{ $v.description }}</p>
                    <a href="{{ $v.link }}" class="square-link">open</a>
                    <hr>
                </article>
                {{ end }}
            </section>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
