<!doctype html>
<html lang="en">
    <head>
        {{ include "head" nil 8 }}
        <title>Projects</title>
    </head>
    <body id="projects-page">
        <main>
            <h1>Projects</h1>
            <dl id="project-table">
                <h2><a href="https://github.com/moretiles/qoifde">qoifde</a></h2>
                <p>Currently complete</p>
                <p>Encoder and decoder that can perform basic operations on <abbr title="Quite Okay Image Format">QOIF</abbr> images. Conversion to and from raw RGB/RGBA is possible. Was pleasently simple to implement. I have no connection to the format creators. if you are interested in learning more about the format see their <a href="https://qoiformat.org/">website</a>.</p>
                <hr>
                <h2><a href="https://github.com/moretiles/danke_json">danke_json</a></h2>
                <p>Not yet Complete</p>
                <p>Yet another library for working with JSON in C... what makes this one special? The programmer is not required to call malloc and free on the nodes they create because all allocation is done behind the scenes. The lifetimes of nodes can be terminated on a per-node, per-file, or whole world basis. Accessing subnodes of the root is done by supplying execl and execv style parameters. Try it out.</p>
                <hr>
                <h2><a href="https://github.com/moretiles/podmen">podmen</a></h2>
                <p>Always Changing</p>
                <p>Most of my homelab configs and infrastructure as code files are available publicly. Sensitive details are redacted. Might be a useful reference. After actually setting up a good system for managing certificates I feel more inclined to to look into the idea of data encryption at the network level instead (at least for internal networks that can't receive certificates from LetsEncrypt and friends).</p>
            </dl>
        </main>
        {{ include "header" nil 8 }}
        {{ include "footer" nil 8 }}
    </body>
</html>
